<%- include("head", {tituloWeb: "UCM-CAU Usuario"})%>

    <body id="bodyy">
        <div class="container">
            <%- include("nav", {ref: "/index"})%>

                <div class="row colorBlanco" id="boxContenido">
                    <div class="row">
                        <div class="col-5 contenidoAvisos">
                            <form class="d-flex" role="search" action="/searchAlerts" method="post">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row contenidoAvisos">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mis Avisos</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Histórico de avisos</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-success">
                                            <tr>
                                                <th scope="col" width="200">Fecha</th>
                                                <th scope="col" width="200">Texto</th>
                                                <th scope="col" class="text-center" width="70">Tipo</th>
                                                <th scope="col">Técnico</th>
                                            </tr>
                                        </thead>
                                        <% alerts.forEach(a => {%>
                                            <%if(a.estado == "asignado" || a.estado == "por asignar"){%>
                                                <tbody class="table-group-divider">
                                                    <tr>
                                                        <td>
                                                            <%=a.fecha%>
                                                        </td>
                                                        <td data-bs-toggle="modal" data-bs-target="#exampleModal<%=a.id%>" style="cursor:pointer;">
                                                            <span data-title="Visualizar aviso">
                                                                <p class="overflow-ellipsis" >
                                                                    <%=a.texto%>
                                                                </p>
                                                            </span>
                                                        </td>
                                                        <td class="text-center">
                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);" title="Sugerencia"></i>
                                                                <%}else if(a.tipo == "Felicitación"){%>
                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);" title="Felicitación"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);" title="Incidencia"></i>
                                                                        <%}%>
                                                        </td>
                                                        <td>
                                                            <%=a.email_tecnico%>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                    <%= a.id_aviso%>:
                                                                        <%=a.tipo%>
                                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);" title="Sugerencia"></i>
                                                                                <%}else if(a.tipo == "Felicitación"){%>
                                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);" title="Felicitiación"></i>
                                                                                    <%}else{%>
                                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);" title="Incidencia"></i>
                                                                                        <%}%>
                                                                </h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>
                                                                    <%=a.nombre%>
                                                                </h4>
                                                                <h6>Fecha:
                                                                    <%=a.fecha%>
                                                                </h6>
                                                                <h6>Comunicaciones:
                                                                    <%=a.subtipo %>
                                                                </h6>
                                                                <h6>Perfil:
                                                                    <%=a.tipo_usuario %>
                                                                </h6>
                                                                <br>
                                                                <h6>Observaciones: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.texto %></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <h6>Comentarios del Técnico: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.comentarioTecn %></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% }) %>
                                    </table>
                                </div>


                                <div class="row">
                                    <div class="offset-11 col-1 d-grid">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalNuevoAviso" data-title="Añadir un nuevo aviso"><i class="bi bi-envelope-plus tamanio"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th scope="col" class="text-center">Tipo</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Texto</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <% alerts.forEach(h => {%>
                                            <%if(h.estado == "terminado" || h.estado == "eliminado"){%>
                                                <tbody class="table-group-divider">
                                                    <tr>
                                                        <td class="text-center">
                                                            <%if(h.tipo == "Sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);" title="Sugerencia"></i>
                                                                <%}else if(h.tipo == "Felicitación"){%>
                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);" title="Felicitación"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);" title="Incidencia"></i>
                                                                        <%}%>
                                                        </td>
                                                        <td>
                                                            <%=h.fecha%>
                                                        </td>
                                                        <td>
                                                            <p class="overflow-ellipsis">
                                                                <%=h.texto%>
                                                            </p>
                                                        </td>
                                                        <td class="text-center"><span data-title="Visualizar aviso"><i class="bi bi-eye-fill tamanio" data-bs-toggle="modal" data-bs-target="#modalVisualizacionCERRAR<%=h.id%>" style="cursor:pointer;"></i></span>
                                                        </td>
                                                    </tr>

                                                </tbody>

                                                <!-- Modal Visualizar Texto -->
                                                <div class="modal fade" id="modalVisualizacionCERRAR<%=h.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                    Aviso
                                                                    <%=h.id_aviso%>:
                                                                        <%=h.tipo%>
                                                                            <%if(h.tipo == "Sugerencia"){%>
                                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);" title="Sugerencia"></i>
                                                                                <%}else if(h.tipo == "Felicitación"){%>
                                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);" title="Felicitación"></i>
                                                                                    <%}else{%>
                                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);" title="Incidencia"></i>
                                                                                        <%}%>
                                                                </h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>
                                                                    <%=h.nombre%>
                                                                </h4>
                                                                <h6>Fecha:
                                                                    <%=h.fecha %>
                                                                </h6>
                                                                <h6>Comunicaciones:
                                                                    <%=h.subtipo %>
                                                                </h6>
                                                                <h6>Perfil:
                                                                    <%=h.tipo_usuario %>
                                                                </h6>
                                                                <br>
                                                                <h6>Observaciones: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=h.texto %></textarea>
                                                                <br>
                                                                <h6>Comentarios del Técnico: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=h.comentarioTecn %></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% }) %>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Nuevo Aviso -->
                <div class="modal fade" id="modalNuevoAviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo aviso</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/insertAlert" method="POST">
                                <div class="modal-body">
                                    <h6>Categoría: </h6>

                                    <select name="tipo" class="form-select" aria-label="Default select example" id="tipo" onChange="activar(this.form)" required>
                                        <option selected disabled>Seleccione una opción</option>
                                        <option value="Sugerencia">Sugerencia </option>
                                        <option value="Incidencia">Incidencia </option>
                                        <option value="Felicitación">Felicitación </option>
                                    </select>
                                    <br>
                                    <h6>Tipo: </h6>

                                    <div id="suginc" style="display:none;">
                                        <%if(perfilUniv == "Alumno"){%>
                                            <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo" required>
                                                <option selected disabled>Seleccione una opción</option>
                                                <option value="Certificado digital de persona física">Certificado digital de persona física</option>
                                                <option value="Registro electrónico">Registro electrónico</option>
                                                <option value="Sede electrónica">Sede electrónica</option>
                                                <option value="Correo electrónico">Correo electrónico</option>
                                                <option value="Google Meet">Google Meet</option>
                                                <option value="Cuenta de Alumno">Cuenta de Alumno</option>
                                                <option value="Cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="VPN Acceso remoto">VPN Acceso remoto</option>
                                                <option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="Aula Virtual">Aula Virtual</option>
                                                <option value="Moodle: Aula global">Moodle: Aula global</option>
                                                <option value="Plataforma de cursos online Privados">Plataforma de cursos online Privados</option>
                                                <option value="Portal de Eventos">Portal de Eventos</option>
                                            </select>
                                            <%}else if(perfilUniv == "PAS"){%>
                                                <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo" required>
                                                <option selected disabled>Seleccione una opción</option>
                                                <option value="Certificado digital de persona física">Certificado digital de persona física</option>
                                                <option value="Certificado electrónico de empleado público">Certificado electrónico de empleado público</option>
                                                <option value="Registro electrónico">Registro electrónico</option>
                                                <option value="Sede electrónica">Sede electrónica</option>
                                                <option value="Portafirmas">Portafirmas</option>
                                                <option value="Correo electrónico">Correo electrónico</option>
                                                <option value="Google Meet">Google Meet</option>
                                                <option value="Cuenta de personal">Cuenta de personal</option>
                                                <option value="Cuenta genérica">Cuenta genérica</option>
                                                <option value="Cuenta as la Red SARA">Cuenta as la Red SARA</option>
                                                <option value="Conexión por cable en despachos">Conexión por cable en despachos</option>
                                                <option value="Cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="Resolución de nombres de dominio DNS">Resolución de nombres de dominio DNS</option>
                                                <option value="VPN Acceso remoto">VPN Acceso remoto</option>
                                                <option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="Wifi para visitantes (ssid: UCM-Visitantes)">Wifi para visitantes (ssid: UCM-Visitantes)</option>
                                                <option value="Blackboard Collaborate">Blackboard Collaborate</option>
                                                <option value="Listados de Clase">Listados de Clase</option>
                                                <option value="Moodle: Aula global">Moodle: Aula global</option>
                                                <option value="Analítica Web">Analítica Web</option>
                                                <option value="Emisión de certificados SSL">Emisión de certificados SSL</option>
                                                <option value="Hosting: alojamiento de páginas web">Hosting: alojamiento de páginas web</option>
                                                <option value="Portal de Eventos">Portal de Eventos</option>
                                                <option value="Redirecciones web">Redirecciones web</option>
                                            </select>
                                                <%}else if(perfilUniv == "PDI"){%>
                                                    <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo" required>
                                                <option selected disabled>Seleccione una opción</option>
                                                <option value="Certificado digital de persona física">Certificado digital de persona física</option>
                                                <option value="Certificado electrónico de empleado público">Certificado electrónico de empleado público</option>
                                                <option value="Registro electrónico">Registro electrónico</option>
                                                <option value="Sede electrónica">Sede electrónica</option>
                                                <option value="Portafirmas">Portafirmas</option>
                                                <option value="Correo electrónico">Correo electrónico</option>
                                                <option value="Google Meet">Google Meet</option>
                                                <option value="Cuenta de personal">Cuenta de personal</option>
                                                <option value="Cuenta genérica">Cuenta genérica</option>
                                                <option value="Conexión por cable en despachos">Conexión por cable en despachos</option>
                                                <option value="Cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="VPN Acceso remoto">VPN Acceso remoto</option>
                                                <option value="Wifi Eduroam (ssid: eduroam)">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="Wifi para visitantes (ssid: UCM-Visitantes)">Wifi para visitantes (ssid: UCM-Visitantes)</option>
                                                <option value="Aula Virtual">Aula Virtual</option>
                                                <option value="Blackboard Collaborate">Blackboard Collaborate</option>
                                                <option value="Listados de Clase">Listados de Clase</option>
                                                <option value="Moodle: Aula global">Moodle: Aula global</option>
                                                <option value="Plataforma de cursos online Privados">Plataforma de cursos online Privados</option>
                                                <option value="Analítica Web">Analítica Web</option>
                                                <option value="Emisión de certificados SSL">Emisión de certificados SSL</option>
                                                <option value="Hosting: alojamiento de páginas web">Hosting: alojamiento de páginas web</option>
                                                <option value="Portal de Eventos">Portal de Eventos</option>
                                                <option value="Redirecciones web">Redirecciones web</option>
                                            </select>
                                                    <%}else{%>
                                                        <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo" required>
                                                            <option selected disabled>Seleccione una opción</option>
                                                            <option value="Registro electrónico">Registro electrónico</option>
                                                <option value="Sede electrónica">Sede electrónica</option>
                                                <option value="Correo electrónico">Correo electrónico</option>
                                                <option value="Google Meet">Google Meet</option>
                                                <option value="Cuenta de Alumno">Cuenta de Alumno</option>
                                                <option value="Portal de Eventos">Portal de Eventos</option>
                                            </select>
                                                        <%}%>
                                    </div>
                                    <div id="felic" style="display:none;">
                                        <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipoFel" id="subtipoFel" required>
                                            <option selected disabled>Seleccione una opción</option>
                                            <option value="Archivo Universitario">Archivo Universitario</option>
                                            <option value="Asesoría Jurídica">Asesoría Jurídica</option>
                                            <option value="Biblioteca">Biblioteca</option>
                                            <option value="Centro de Info">Centro de información</option>
                                            <option value="Departamentos docentes">Departamentos docentes</option>
                                            <option value="Inspeccion de servicios">Inspección de Servicios</option>
                                            <option value="Oficina de Gestión de Infraestructuras y Mantenimiento">Oficina de Gestión de Infraestructuras y Mantenimiento</option>
                                            <option value="Servicio de Administración">Servicio de Administración</option>
                                            <option value="Servicios Informáticos">Servicios Informáticos</option>
                                            <option value="Servicio de Documentación">Servicio de Documentación</option>
                                            <option value="Servicio de Imprenta">Servicio de Imprenta</option>
                                            <option value="Servicio de Cafeteria">Servicio de Cafetería</option>
                                            <option value="Toda la Universidad">Toda la Universidad</option>
                                        </select>
                                    </div>
                                    <div id="defecto" style="display:inline;">
                                        <select class="form-select form-control item" aria-label="Default select example" name="" id="" disabled>
                                        </select>
                                    </div>

                                    <br>

                                    <h6>Comentario: </h6>
                                    <textarea class="form-control item" rows="5" id="texto" name="texto" required></textarea>

                                </div>
                                <div class="modal-footer">
                                    <h6 class="text-danger">Es obligatorio rellenar todos los campos</h6> <i class="bi bi-arrow-bar-right tamanio"></i>
                                    <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Enviar Aviso</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>



                <%- include("footer")%>