<%- include("head", {tituloWeb: "UCM-CAU Usuario"})%>

    <body id="bodyy">
        <div class="container">
            <%- include("nav", {ref: "/index"})%>

                <div class="row colorBlanco" id="boxContenido">
                    <div class="row">
                        <div class="col-5 contenidoAvisos">
                            <form class="d-flex" role="search" action="/searchAlerts" method="post">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row contenidoAvisos">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mis Avisos</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Histórico de avisos</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-success">
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Técnico</th>
                                        </tr>
                                    </thead>
                                    <% alerts.forEach(a => {%>
                                        <%if(a.estado == "asignado" || a.estado == "por asignar"){%>
                                            <tbody class="table-group-divider">
                                                <tr>
                                                    <th scope="row">
                                                        <%=a.fecha%>
                                                    </th>
                                                    <td data-bs-toggle="modal" data-bs-target="#exampleModal<%=a.id%>" style="cursor:pointer;">
                                                        <%=a.texto%>
                                                    </td>
                                                    <td>
                                                        <%=a.tipo%>
                                                    </td>
                                                    <td>
                                                        <%=a.email_tecnico%>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                <%= a.id_aviso%>:
                                                                    <%=a.tipo%>
                                                            </h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>
                                                                <%=a.nombre%>
                                                            </h4>
                                                            <h6>Fecha:
                                                                <%=a.fecha %>
                                                            </h6>
                                                            <h6>Comunicaciones:
                                                                <%=a.subtipo %>
                                                            </h6>
                                                            <h6>Perfil:
                                                                <%=a.tipo_usuario %>
                                                            </h6>
                                                            <br>
                                                            <h6>Observaciones: </h6>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled><%=a.texto %></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <h6>Comentarios del Técnico: </h6>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled><%=a.comentarioTecn %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                                <% }) %>
                                </table>

                                <div class="row">
                                    <div class="offset-11 col-1 d-grid">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalNuevoAviso"><i class="bi bi-envelope-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <% historical.forEach(h => {%>
                                        <tbody class="table-group-divider">
                                            <tr>
                                                <th scope="row">
                                                    <%=h.tipo%>
                                                </th>
                                                <td>
                                                    <%=h.fecha%>
                                                </td>
                                                <td>
                                                    <%=h.texto%>
                                                </td>
                                                <td><i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#modalVisualizacionCERRAR<%=h.id%>" style="cursor:pointer;"></i></i>
                                                </td>
                                            </tr>

                                        </tbody>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modalVisualizacionCERRAR<%=h.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Aviso
                                                            <%=h.id_aviso%>:
                                                                <%=h.tipo%>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>
                                                            <%=h.nombre%>
                                                        </h4>
                                                        <h6>Fecha:
                                                            <%=h.fecha %>
                                                        </h6>
                                                        <h6>Comunicaciones:
                                                            <%=h.subtipo %>
                                                        </h6>
                                                        <h6>Perfil:
                                                            <%=h.tipo_usuario %>
                                                        </h6>
                                                        <br>
                                                        <h6>Observaciones: </h6>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled><%=h.texto %></textarea>
                                                        <br>
                                                        <h6>Comentarios del Técnico: </h6>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled><%=h.comentarioTecn %></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <form>





                    <!-- Modal -->
                    <div class="modal fade" id="modalNuevoAviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="/insertAlert" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso NºXAVISO: Sugerencia</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <h6>Tipo: </h6>
                                        <select name="tipo" class="form-select" aria-label="Default select example" id="tipo" onChange="activar(this.form)">
                                        <option selected disabled>Seleccione un tipo</option>
                                        <option value="sugerencia">Sugerencia</option>
                                        <option value="incidencia">Incidencia</option>
                                        <option value="felicitacion">Felicitación</option>
                                    </select>
                                        <br>
                                        <h6>Subtipo: </h6>

                                        <div id="suginc" style="display:none;">
                                            <%if(perfilUniv == "alumno"){%>
                                                <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo">
                                                <option selected value="certificado digital">Certificado digital de persona física</option>
                                                <option value="registro electronico">Registro electrónico</option>
                                                <option value="sede electronica">Sede electrónica</option>
                                                <option value="correo electronico">Correo electrónico</option>
                                                <option value="google meet">Google Meet</option>
                                                <option value="cuenta de alumno">Cuenta de Alumno</option>
                                                <option value="cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="vpn acceso remoto">VPN Acceso remoto</option>
                                                <option value="wifi eduroam">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="aula virtual">Aula Virtual</option>
                                                <option value="moodle">Moodle: Aula global</option>
                                                <option value="plataforma">Plataforma de cursos online Privados</option>
                                                <option value="portal eventos">Portal de Eventos</option>
                                            </select>
                                                <%}else if(perfilUniv == "pas" && tecnico == "0"){%>
                                                    <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo">
                                                <option selected value="certificado digital">Certificado digital de persona física</option>
                                                <option  value="certificado electronico">Certificado electrónico de empleado público</option>
                                                <option value="registro electronico">Registro electrónico</option>
                                                <option value="sede electronica">Sede electrónica</option>
                                                <option value="portafirmas">Portafirmas</option>
                                                <option value="correo electronico">Correo electrónico</option>
                                                <option value="google meet">Google Meet</option>
                                                <option value="cuenta personal">Cuenta de Personal</option>
                                                <option value="cuenta generica">Cuenta Genérica</option>
                                                <option value="cuenta sara">Cuenta as la Red SARA</option>
                                                <option value="conexion despachos">Conexión por cable en despachos</option>
                                                <option value="cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="resolucion dns">Resolución de nombres de dominio DNS</option>
                                                <option value="vpn acceso remoto">VPN Acceso remoto</option>
                                                <option value="wifi eduroam">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="wifi visitantes">Wifi para visitantes(ssid: UCM-Visitantes)</option>
                                                <option value="collaborate">Blackboard Collaborate</option>
                                                <option value="listados clase">Listados de Clase</option>
                                                <option value="moodle">Moodle: Aula global</option>
                                                <option value="analitica web">Analítica Web</option>
                                                <option value="emision ssl">Emisión de certificados SSL</option>
                                                <option value="hosting">Hosting: alojamiento de páginas web</option>
                                                <option value="portal eventos">Portal de Eventos</option>
                                                <option value="redirecciones web">Redirecciones web</option>
                                            </select>
                                                    <%}else if(perfilUniv == "pdi"){%>
                                                        <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo">
                                                <option selected value="certificado digital">Certificado digital de persona física</option>
                                                <option  value="certificado electronico">Certificado electrónico de empleado público</option>
                                                <option value="registro electronico">Registro electrónico</option>
                                                <option value="sede electronica">Sede electrónica</option>
                                                <option value="portafirmas">Portafirmas</option>
                                                <option value="correo electronico">Correo electrónico</option>
                                                <option value="google meet">Google Meet</option>
                                                <option value="cuenta personal">Cuenta de Personal</option>
                                                <option value="cuenta generica">Cuenta Genérica</option>
                                                <option value="conexion despachos">Conexión por cable en despachos</option>
                                                <option value="cortafuegos corporativo">Cortafuegos corporativo</option>
                                                <option value="vpn acceso remoto">VPN Acceso remoto</option>
                                                <option value="wifi eduroam">Wifi Eduroam (ssid: eduroam)</option>
                                                <option value="wifi visitantes">Wifi para visitantes(ssid: UCM-Visitantes)</option>
                                                <option value="aula virtual">Aula Virtual</option>
                                                <option value="collaborate">Blackboard Collaborate</option>
                                                <option value="listados clase">Listados de Clase</option>
                                                <option value="moodle">Moodle: Aula global</option>
                                                <option value="plataforma">Plataforma de cursos online Privados</option>
                                                <option value="analitica web">Analítica Web</option>
                                                <option value="emision ssl">Emisión de certificados SSL</option>
                                                <option value="hosting">Hosting: alojamiento de páginas web</option>
                                                <option value="portal eventos">Portal de Eventos</option>
                                                <option value="redirecciones web">Redirecciones web</option>
                                            </select>
                                                        <%}else{%>
                                                            <select class="form-select form-control item" aria-label="Default select example" name="subtipoSubtipo" id="subtipo">
                                                <option value="registro electronico">Registro electrónico</option>
                                                <option value="sede electronica">Sede electrónica</option>
                                                <option value="correo electronico">Correo electrónico</option>
                                                <option value="google meet">Google Meet</option>
                                                <option value="cuenta de alumno">Cuenta de Alumno</option>
                                                <option value="portal eventos">Portal de Eventos</option>
                                            </select>
                                                            <%}%>
                                        </div>
                                        <div id="felic" style="display:none;">
                                            <select class="form-select form-control item" aria-label="Default select example" name="" id="">
                                            <option selected value="archivo univ">Archivo Universitario</option>
                                            <option value="asesoria juridica">Asesoría Jurídica</option>
                                            <option value="biblioteca">Biblioteca</option>
                                            <option value="centro de info">Centro de información</option>
                                            <option value="departamentos docentes">Departamentos docentes</option>
                                            <option value="inspeccion de serv">Inspección de Servicios</option>
                                            <option value="oficina de gim">Oficina de Gestión de Infraestructuras y Mantenimiento</option>
                                            <option value="servicio de admin">Servicio de Administración</option>
                                            <option value="servicio infor">Servicios Informáticos</option>
                                            <option value="servicio de doc">Servicio de Documentación</option>
                                            <option value="servicio de imprenta">Servicio de Imprenta</option>
                                            <option value="servicio de cafeteria">Servicio de Cafetería</option>
                                            <option value="toda la uni">Toda la Universidad</option>
                                        </select>
                                        </div>
                                        <div id="defecto" style="display:inline;">
                                            <select class="form-select form-control item" aria-label="Default select example" name="" id="" disabled>
                                        </select>
                                        </div>

                                        <br>

                                        <h6>Observaciones: </h6>
                                        <textarea class="form-control item" rows="3" id="texto" name="texto"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Enviar Aviso</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>



                    <%- include("footer")%>