<%- include("head", {tituloWeb: "UCM-CAU Admin"})%>

    <body id="bodyy">
        <div class="container">
            <%- include("nav", {ref: "/indexAdmin"})%>

                <div class="row colorBlanco" id="boxContenido">
                    <div class="row">
                        <div class="contenidoAvisos">
                            <form class="row g-3 align-items-center" role="search" action="/searchAdmin" method="post">
                                <div class="col-sm-4">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                                </div>

                                <div class="col-sm-1">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>

                                <div class="col-sm">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkBoxBusq" name="userCheck">
                                        <label class="form-check-label" for="inlineFormCheck">
                                        Por usuario
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row contenidoAvisos">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-avisosEntr-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Avisos Entrantes</button>
                                <button class="nav-link" id="nav-misAvisos-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mis Avisos</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Histórico de Avisos</button>
                                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Gestión de Usuarios</button>
                            </div>
                        </nav>


                        <div class="tab-content" id="nav-tabContent">
                            <!-- AVISOS ENTRANTES -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-avisosEntr-tab" tabindex="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-warning">
                                            <tr>
                                                <th scope="col" class="text-center">Tipo</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Texto</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <% allAlerts.forEach(a => {%>
                                            <%if(a.activo == 1 && a.estado != "eliminado" && a.estado != "terminado"){%>
                                                <tbody class="table-group-divider">
                                                    <tr>
<<<<<<< HEAD
                                                        <td>
                                                            <%if(a.tipo == "sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);" title="Sugerencia"></i>
                                                                <%}else if(a.tipo == "felicitacion"){%>
=======
                                                        <td class="text-center">
                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                <%}else if(a.tipo == "Felicitación"){%>
>>>>>>> f2d28aff2f6a09f5d8dfd832e149b8b42e675df9
                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                        <%}%>
                                                        </td>
                                                        <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <%=a.fecha%>
                                                        </td>
                                                        <td class="overflow-ellipsis">
                                                            <p class="overflow-ellipsis">
                                                                <%=a.texto%>
                                                            </p>
                                                        </td>
                                                        <td class="text-center">
                                                            <%if(a.estado == "asignado" || a.estado == "terminado"){%>
                                                                <i class="bi bi-person-fill tamanio" style="color: rgb(182, 179, 179);"></i>
                                                                <i class="bi bi-trash-fill tamanio" data-id="e<%=a.id%>" data-bs-toggle="modal" data-bs-target="#modalEliminarAviso<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                                <%}else if(a.estado == "eliminado"){%>
                                                                    <i class="bi bi-person-fill tamanio" style="color: rgb(182, 179, 179);"></i>
                                                                    <i class="bi bi-trash-fill tamanio" style="color: rgb(182, 179, 179);"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-person-fill tamanio" data-id="a<%=a.id%>" data-bs-toggle="modal" data-bs-target="#modalAsignacion<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                                        <i class="bi bi-trash-fill tamanio" data-id="e<%=a.id%>" data-bs-toggle="modal" data-bs-target="#modalEliminarAviso<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                                        <%}%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!-- Modal Asignación -->
                                                <div class="modal fade" id="modalAsignacion<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <form class="d-flex" role="search" action="/updateAsignAdmin" method="POST">

                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                        <%=a.id%>:
                                                                            <%=a.tipo%>
                                                                                <%if(a.tipo == "Sugerencia"){%>
                                                                                    <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                                    <%}else if(a.tipo == "Felicitación"){%>
                                                                                        <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                                        <%}else{%>
                                                                                            <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                                            <%}%>
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                                    <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                    <h4>
                                                                        <%=a.nombre%>
                                                                    </h4>
                                                                    <h6>Fecha:
                                                                        <%=a.fecha%>
                                                                    </h6>
                                                                    <h6>Comunicaciones:
                                                                        <%=a.subtipo%>
                                                                    </h6>
                                                                    <h6>Perfil:
                                                                        <%=a.tipo_usuario%>
                                                                    </h6>
                                                                    <br>
                                                                    <h6>Observaciones: </h6>
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.texto%></textarea>
                                                                    <br>
                                                                    <h6>Técnico asignado: </h6>
                                                                    <select class="form-select" aria-label="Default select example" name="tecnico" id="tecnico">
                                                                <option selected>Seleccione un técnico</option>
                                                                <% tecnicos.forEach(t => {%>
                                                                    <option value="<%=t.email%>"><%=t.nombre%></option>
                                                                <%})%>
                                                            </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Asignar Técnico</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- Modal Eliminar Aviso -->
                                                <div class="modal fade" id="modalEliminarAviso<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <form class="d-flex" role="search" action="/updateEliminateAdmin" method="POST">

                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                        <%=a.id%>:
                                                                            <%=a.tipo%>
                                                                                <%if(a.tipo == "Sugerencia"){%>
                                                                                    <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                                    <%}else if(a.tipo == "Felicitación"){%>
                                                                                        <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                                        <%}else{%>
                                                                                            <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                                            <%}%>
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                                    <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                    <h4>
                                                                        <%=a.nombre%>
                                                                    </h4>
                                                                    <h6>Fecha:
                                                                        <%=a.fecha%>
                                                                    </h6>
                                                                    <h6>Comunicaciones:
                                                                        <%=a.subtipo%>
                                                                    </h6>
                                                                    <h6>Perfil:
                                                                        <%=a.tipo_usuario%>
                                                                    </h6>
                                                                    <br>
                                                                    <h6>Observaciones: </h6>
                                                                    <textarea class="form-control" rows="5" name="comentarioTecn" id="comentarioTecn" disabled><%=a.texto%></textarea>
                                                                    <br>
                                                                    <h6>Comentarios del técnico: </h6>
                                                                    <textarea class="form-control" rows="5" name="comentarioTecn" id="comentarioTecn"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Eliminar Aviso</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% }) %>
                                    </table>
                                </div>

                            </div>

                            <!-- MIS AVISOS-->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-misAvisos-tab" tabindex="0">
                                <br>

                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-success">
                                            <tr>
                                                <th scope="col" class="text-center">Tipo</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Texto</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <% alerts.forEach(a => {%>
                                            <%if(a.estado == "asignado" && a.activo == 1){%>

                                                <tbody class="table-group-divider">
                                                    <tr>
                                                        <td class="text-center">
                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                <%}else if(a.tipo == "Felicitación"){%>
                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                        <%}%>
                                                        </td>
                                                        <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <%=a.fecha%>
                                                        </td>
                                                        <td>
                                                            <p class="overflow-ellipsis">
                                                                <%=a.texto%>
                                                            </p>

                                                        </td>
                                                        <td class="text-center"><i class="bi bi-eye-fill tamanio" data-bs-toggle="modal" data-bs-target="#modalVisualizacion<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                            <i class="bi bi-trash-fill tamanio" data-bs-toggle="modal" data-bs-target="#modal2EliminarAviso<%=a.id%>" style="cursor:pointer;color: black;"></i></td>


                                                    </tr>
                                                </tbody>
                                                <!-- Modal Visualización -->
                                                <div class="modal fade" id="modalVisualizacion<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <form class="d-flex" role="search" action="/updateTerminateAdmin" method="POST">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                        <%= a.id_aviso%>:
                                                                            <%=a.tipo%>
                                                                                <%if(a.tipo == "Sugerencia"){%>
                                                                                    <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                                    <%}else if(a.tipo == "Felicitación"){%>
                                                                                        <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                                        <%}else{%>
                                                                                            <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                                            <%}%>
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                                <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                <div class="modal-body">
                                                                    <h4>
                                                                        <%=a.nombre%>
                                                                    </h4>
                                                                    <h6>Fecha:
                                                                        <%=a.fecha %>
                                                                    </h6>
                                                                    <h6>Comunicaciones:
                                                                        <%=a.subtipo %>
                                                                    </h6>
                                                                    <h6>Perfil:
                                                                        <%=a.tipo_usuario %>
                                                                    </h6>
                                                                    <br>
                                                                    <h6>Observaciones: </h6>
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.texto %></textarea>
                                                                    <br>
                                                                    <h6>Comentarios del Técnico: </h6>
                                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="comentarioTecn" id="comentarioTecn"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Terminar Aviso</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- Modal 2 Eliminar Aviso -->
                                                <div class="modal fade" id="modal2EliminarAviso<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <form class="d-flex" role="search" action="/updateEliminateAdmin" method="POST">

                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                        <%=a.id%>:
                                                                            <%=a.tipo%>
                                                                                <%if(a.tipo == "Sugerencia"){%>
                                                                                    <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                                    <%}else if(a.tipo == "Felicitación"){%>
                                                                                        <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                                        <%}else{%>
                                                                                            <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                                            <%}%>
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                                    <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                    <h4>
                                                                        <%=a.nombre%>
                                                                    </h4>
                                                                    <h6>Fecha:
                                                                        <%=a.fecha%>
                                                                    </h6>
                                                                    <h6>Comunicaciones:
                                                                        <%=a.subtipo%>
                                                                    </h6>
                                                                    <h6>Perfil:
                                                                        <%=a.tipo_usuario%>
                                                                    </h6>
                                                                    <br>
                                                                    <h6>Observaciones: </h6>
                                                                    <textarea class="form-control" rows="5" name="comentarioTecn" id="comentarioTecn" disabled><%=a.texto%></textarea>
                                                                    <br>
                                                                    <h6>Comentarios del técnico: </h6>
                                                                    <textarea class="form-control" rows="5" name="comentarioTecn" id="comentarioTecn"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Eliminar Aviso</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% }) %>
                                    </table>
                                </div>

                            </div>

                            <!-- HISTÓRICO DE AVISOS -->
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th scope="col" class="text-center">Tipo</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Texto</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <% alerts.forEach(a => {%>
                                            <%if(a.estado == "terminado" || a.estado == "eliminado"){%>
                                                <tbody class="table-group-divider">
                                                    <tr>
                                                        <td class="text-center">
                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                <%}else if(a.tipo == "Felicitación"){%>
                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                    <%}else{%>
                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                        <%}%>
                                                        </td>
                                                        <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <%=a.fecha%>
                                                        </td>
                                                        <td>
                                                            <p class="overflow-ellipsis">
                                                                <%=a.texto%>
                                                            </p>
                                                        </td>
                                                        <td class="text-center"><i class="bi bi-eye-fill tamanio" data-bs-toggle="modal" data-bs-target="#modalVisualizacionCERRARADMIN<%=a.id%>" style="color:black;cursor:pointer;"></i></td>
                                                    </tr>
                                                </tbody>
                                                <!-- Modal Visualización -->
                                                <div class="modal fade" id="modalVisualizacionCERRARADMIN<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                    <%=a.id_aviso%>:
                                                                        <%=a.tipo%>
                                                                            <%if(a.tipo == "Sugerencia"){%>
                                                                                <i class="bi bi-lightbulb-fill tamanio" style="color: rgb(173, 184, 28);"></i>
                                                                                <%}else if(a.tipo == "Felicitación"){%>
                                                                                    <i class="bi bi-chat-heart-fill tamanio" style="color: rgb(14, 133, 14);"></i>
                                                                                    <%}else{%>
                                                                                        <i class="bi bi-exclamation-circle-fill tamanio" style="color: rgb(121, 15, 15);"></i>
                                                                                        <%}%>
                                                                </h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>
                                                                    <%=a.nombre%>
                                                                </h4>
                                                                <h6>Fecha:
                                                                    <%=a.fecha %>
                                                                </h6>
                                                                <h6>Comunicaciones:
                                                                    <%=a.subtipo %>
                                                                </h6>
                                                                <h6>Perfil:
                                                                    <%=a.tipo_usuario %>
                                                                </h6>
                                                                <br>
                                                                <h6>Observaciones: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.texto %></textarea>
                                                                <br>
                                                                <h6>Comentarios del Técnico: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" disabled><%=a.comentarioTecn %></textarea>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% }) %>
                                    </table>
                                </div>

                            </div>

                            <!-- GESTIÓN DE USUARIOS -->
                            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-info">
                                            <tr>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Rol</th>
                                                <th scope="col" class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <% users.forEach(u => {%>
                                            <%if(u.activo == 1){%>
                                                <tbody class="table-group-divider">
                                                    <tr>
                                                        <th scope="row">
                                                            <%=u.fecha%>
                                                        </th>
                                                        <td>
                                                            <%=u.nombre%>
                                                        </td>
                                                        <%if(u.tecnico == 1){%>
                                                            <td>TÉCNICO</td>
                                                            <%}else{%>
                                                                <td>USUARIO</td>
                                                                <%}%>
                                                                    <%if(u.email != email){%>
                                                                        <td class="text-center"><i class="bi bi-trash-fill tamanio" data-bs-toggle="modal" data-bs-target="#modal3EliminarUsuario<%=u.id%>" style="color: black;cursor: pointer;"></i></td>
                                                                        <%}else{%>
                                                                            <td class="text-center"><i class="bi bi-trash-fill tamanio" style="color: rgb(182, 179, 179);"></i></td>
                                                                            <%}%>
                                                    </tr>

                                                </tbody>
                                                <!-- Modal Eliminar Usuario -->
                                                <div class="modal fade" id="modal3EliminarUsuario<%=u.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <form class="d-flex" role="search" action="/updateEliminateUser" method="POST">

                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Usuario
                                                                        <%=u.id%>
                                                                    </h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <input type="text" class="form-select" value="<%=u.id%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                    <h4>
                                                                        <%=u.nombre%>
                                                                    </h4>
                                                                    <h6>Fecha:
                                                                        <%=u.fecha%>
                                                                    </h6>
                                                                    <h6>Email:
                                                                        <%=u.email%>

                                                                    </h6>
                                                                    <h6>Perfil:
                                                                        <%=u.tipo_usuario%>
                                                                    </h6>
                                                                    <br>
                                                                    <%if(u.num_empleado){%>
                                                                        <h6>num_Empleado:
                                                                            <%=u.num_empleado%>
                                                                        </h6>
                                                                        <%}%>

                                                                            <br>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Eliminar Usuario</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                                <%}%>
                                                    <%})%>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






        </div>
        <%- include("footer")%>