<%- include("head", {tituloWeb: "UCM-CAU Usuario"})%>

    <body id="bodyy">
        <div class="container">
            <%- include("nav", {ref: "/index"})%>

                <div class="row colorBlanco" id="boxContenido">
                    <div class="row">
                        <div class="col-5 contenidoAvisos">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row contenidoAvisos">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mis Avisos</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Histórico de avisos</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-success">
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Técnico</th>
                                        </tr>
                                    </thead>
                                    <% alerts.forEach(a => {%>
                                        <tbody class="table-group-divider">
                                            <tr>
                                                <th scope="row">
                                                    <%=a.fecha%>
                                                </th>
                                                <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <%=a.texto%>
                                                </td>
                                                <td>
                                                    <%=a.tipo%>
                                                </td>
                                                <td>
                                                    <%=a.email_tecnico%>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <% }) %>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td><i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#modalVisualizacionCERRAR"></i></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-11 col-1 d-grid">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalNuevoAviso"><i class="bi bi-envelope-plus"></i></button>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso NºXAVISO: Sugerencia</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Nombre Usuario</h4>
                                <h6>Fecha: </h6>
                                <h6>Comunicaciones: </h6>
                                <h6>Perfil: </h6>
                                <br>
                                <h6>Observaciones: </h6>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="modal-footer">
                                <h6>Comentarios del Técnico: </h6>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalVisualizacionCERRAR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso NºXAVISO: Sugerencia</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Nombre Usuario</h4>
                                <h6>Fecha: </h6>
                                <h6>Comunicaciones: </h6>
                                <h6>Perfil: </h6>
                                <br>
                                <h6>Observaciones: </h6>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <br>
                                <h6>Comentarios del Técnico: </h6>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="modalNuevoAviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso NºXAVISO: Sugerencia</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>Tipo: </h6>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected value="1">Sugerencia</option>
                                    <option value="2">Incidencia</option>
                                    <option value="3">Felicitación</option>
                                </select>
                                <h6>Observaciones: </h6>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Enviar Aviso</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Nombre Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-8 col-sm-6">
                                                <img src="..." class="rounded float-start" alt="...">
                                            </div>
                                            <div class="col-4 col-sm-6">
                                                <h6>Fecha de creación: </h6>
                                                <h6>Perfil: </h6>
                                                <h6>Contraseña: </h6>
                                                <h6>Nombre para mostrar: </h6>
                                            </div>
                                        </div>
                                    </div>


                                    <h6>Avisos realizados: </h6>
                                    <h6>Incidencia: </h6>
                                    <h6>Sugerencias: </h6>
                                    <h6>Felicitaciones: </h6>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </body>

    </html>