<%- include("head", {tituloWeb: "UCM-CAU Admin"})%>

    <body id="bodyy">
        <div class="container">
            <%- include("nav", {ref: "/indexAdmin"})%>

                <div class="row colorBlanco" id="boxContenido">
                    <div class="row">
                        <div class="col-5 contenidoAvisos">
                            <form class="d-flex" role="search" action="/searchAlertsAdmin" method="post">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row contenidoAvisos">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-avisosEntr-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Avisos Entrantes</button>
                                <button class="nav-link" id="nav-misAvisos-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mis Avisos</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Histórico de Avisos</button>
                                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Gestión de Usuarios</button>
                            </div>
                        </nav>

                        <!-- AVISOS ENTRANTES -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-avisosEntr-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-warning">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <% allAlerts.forEach(a => {%>
                                        <tbody class="table-group-divider">
                                            <tr>
                                                <th scope="row">
                                                    <%=a.tipo%>
                                                </th>
                                                <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <%=a.fecha%>
                                                </td>
                                                <td>
                                                    <%=a.texto%>
                                                </td>
                                                <td>
                                                    <%if(a.estado == "asignado" || a.estado == "terminado"){%>
                                                        <i class="bi bi-person-fill icon-2x" style="color: rgb(182, 179, 179);"></i>
                                                        <%}else{%>
                                                            <i class="bi bi-person-fill icon-2x" data-id="a<%=a.id%>" data-bs-toggle="modal" data-bs-target="#modalAsignacion<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                            <%}%>
                                                                <i class="bi bi-trash-fill icon-large" data-id="e<%=a.id%>" data-bs-toggle="modal" data-bs-target="#modalEliminarAviso<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- Modal Asignación -->
                                        <div class="modal fade" id="modalAsignacion<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form class="d-flex" role="search" action="/updateAsignAdmin" method="POST">

                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                <%=a.id%>:
                                                                    <%=a.tipo%>
                                                            </h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                            <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                            <h4>
                                                                <%=a.nombre%>
                                                            </h4>
                                                            <h6>Fecha:
                                                                <%=a.fecha%>
                                                            </h6>
                                                            <h6>Comunicaciones:
                                                                <%=a.subtipo%>
                                                            </h6>
                                                            <h6>Perfil:
                                                                <%=a.tipo_usuario%>
                                                            </h6>
                                                            <br>
                                                            <h6>Observaciones: </h6>
                                                            <div style="border:2px solid;">
                                                                <%=a.texto%>
                                                            </div>
                                                            <br>
                                                            <h6>Técnico asignado: </h6>
                                                            <select class="form-select" aria-label="Default select example" name="tecnico" id="tecnico">
                                                            <option selected>Seleccione un técnico</option>
                                                            <% tecnicos.forEach(t => {%>
                                                                <option value="<%=t.email%>"><%=t.nombre%></option>
                                                            <%})%>
                                                        </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Asignar Técnico</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Modal Eliminar Aviso -->
                                        <div class="modal fade" id="modalEliminarAviso<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form class="d-flex" role="search" action="/" method="POST">

                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                <%=a.id%>:
                                                                    <%=a.tipo%>
                                                            </h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                            <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                            <h4>
                                                                <%=a.nombre%>
                                                            </h4>
                                                            <h6>Fecha:
                                                                <%=a.fecha%>
                                                            </h6>
                                                            <h6>Comunicaciones:
                                                                <%=a.subtipo%>
                                                            </h6>
                                                            <h6>Perfil:
                                                                <%=a.tipo_usuario%>
                                                            </h6>
                                                            <br>
                                                            <h6>Observaciones: </h6>
                                                            <div style="border:2px solid;">
                                                                <%=a.texto%>
                                                            </div>
                                                            <br>
                                                            <h6>Comentarios del técnico: </h6>
                                                            <textarea class="form-control" rows="3" name="ComentarioTecn" id="ComentarioTecn"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Eliminar Aviso</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <% }) %>
                                </table>
                            </div>

                            <!-- MIS AVISOS-->
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-misAvisos-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-success">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <% alerts.forEach(a => {%>
                                        <%if(a.estado == "asignado"){%>

                                            <tbody class="table-group-divider">
                                                <tr>
                                                    <th scope="row">
                                                        <%=a.tipo%>
                                                    </th>
                                                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <%=a.fecha%>
                                                    </td>
                                                    <td>
                                                        <%=a.texto%>
                                                    </td>
                                                    <td><i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#modalVisualizacion<%=a.id%>" style="cursor:pointer;color: black;"></i>
                                                        <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#modal2EliminarAviso<%=a.id%>" style="cursor:pointer;color: black;"></i></td>


                                                </tr>
                                            </tbody>
                                            <!-- Modal Visualización -->
                                            <div class="modal fade" id="modalVisualizacion<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form class="d-flex" role="search" action="/updateTerminateAdmin" method="POST">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                    <%= a.id_aviso%>:
                                                                        <%=a.tipo%>
                                                                </h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                            <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                            <div class="modal-body">
                                                                <h4>
                                                                    <%=a.nombre%>
                                                                </h4>
                                                                <h6>Fecha:
                                                                    <%=a.fecha %>
                                                                </h6>
                                                                <h6>Comunicaciones:
                                                                    <%=a.subtipo %>
                                                                </h6>
                                                                <h6>Perfil:
                                                                    <%=a.tipo_usuario %>
                                                                </h6>
                                                                <br>
                                                                <h6>Observaciones: </h6>
                                                                <div style="border: 2px solid;">
                                                                    <%=a.texto %>
                                                                </div>
                                                                <br>
                                                                <h6>Comentarios del Técnico: </h6>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comentarioTecn" id="comentarioTecn"></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Terminar Aviso</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- Modal Eliminar Aviso -->
                                            <div class="modal fade" id="modal2EliminarAviso<%=a.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form class="d-flex" role="search" action="/eliminateAlert" method="POST">

                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso
                                                                    <%=a.id%>:
                                                                        <%=a.tipo%>
                                                                </h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="text" class="form-select" value="<%=a.id_aviso%>" style="display:none;" name="idAviso" id="idAviso">
                                                                <input type="text" class="form-select" value="<%=a.id_usuario%>" style="display:none;" name="idUsuario" id="idUsuario">
                                                                <h4>
                                                                    <%=a.nombre%>
                                                                </h4>
                                                                <h6>Fecha:
                                                                    <%=a.fecha%>
                                                                </h6>
                                                                <h6>Comunicaciones:
                                                                    <%=a.subtipo%>
                                                                </h6>
                                                                <h6>Perfil:
                                                                    <%=a.tipo_usuario%>
                                                                </h6>
                                                                <br>
                                                                <h6>Observaciones: </h6>
                                                                <div style="border:2px solid;">
                                                                    <%=a.texto%>
                                                                </div>
                                                                <br>
                                                                <h6>Comentarios del técnico: </h6>
                                                                <textarea class="form-control" rows="3" name="ComentarioTecn" id="ComentarioTecn"></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Eliminar Aviso</button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                            <%}%>
                                                <% }) %>
                                </table>
                            </div>

                            <!-- HISTÓRICO DE AVISOS -->
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <% alerts.forEach(a => {%>
                                        <%if(a.estado == "terminado"){%>
                                            <tbody class="table-group-divider">
                                                <tr>
                                                    <th scope="row">
                                                        <%=a.tipo%>
                                                    </th>
                                                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <%=a.fecha%>
                                                    </td>
                                                    <td>
                                                        <%=a.texto%>
                                                    </td>
                                                    <td><i class="bi bi-eye-fill" data-bs-toggle="modal" data-bs-target="#modalVisualizacionCERRARADMIN"></i></td>
                                                </tr>
                                            </tbody>
                                            <!-- Modal Visualización -->
                                            <div class="modal fade" id="modalVisualizacionCERRAR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso NºXAVISO: Sugerencia</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Nombre Usuario</h4>
                                                            <h6>Fecha: </h6>
                                                            <h6>Comunicaciones: </h6>
                                                            <h6>Perfil: </h6>
                                                            <br>
                                                            <h6>Observaciones: </h6>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            <br>
                                                            <h6>Comentarios del Técnico: </h6>
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                                <% }) %>
                                </table>
                            </div>

                            <!-- GESTIÓN DE USUARIOS -->
                            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                                <br>
                                <table class="table">
                                    <thead class="table-info">
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Rol</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <!-- <td><i class="bi bi-trash-fill"></i></td> -->
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>






        </div>
        <%- include("footer")%>