<div class="row">
    <nav class=" navbar navbar-dark bg-danger fixed-top">
        <div class="container-fluid">
            <a href=<%=ref %>><img src="img/logoUcm.png" alt="Logo de la UCM" id="logoUcm"></a>
            <span class="navbar-text textoCentrado">
                <h2>UCM - CAU</h2> <h5>Centro de atención al usuario</h5>
            </span>
            <div>
                    <img src="/imagenUsuario" id="imgUser" class="img-thumbnail tooltip-content" alt="foto de perfil" data-bs-toggle="modal" data-bs-target="#modalUsuario" style="cursor:pointer;"/>
                    <span id="labelident" class="navbar-text" data-bs-toggle="modal" data-bs-target="#modalUsuario" style="cursor:pointer;" data-title="Info de usuario"><%= nombre %></span>
                <a href="/logout" class="btn btn-sm btn-outline-light" data-title="desconectar"><i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <%= nombre %>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text-center">
                            <img src="/imagenUsuario" width="25%" class="rounded mx-auto d-block" alt="...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5><i class="bi bi-person-circle"></i> <u>Información de usuario</u></h5>
                        <br><br>
                        <div style="margin-left:1.5em">
                            <div class="table-responsive col-10">
                                <table class="table">
                                <tr>
                                    <td><h6>Fecha de creación: </h6></td>
                                    <td><%= fecha %></td>
                                </tr>
                                <tr>
                                    <td><h6>Perfil: </h6></td>
                                    <td><%= perfilUniv%></td>
                                </tr>
                                <tr>
                                    <td><h6>Contraseña: </h6></td>
                                    <td>
                                        <%let p = ""%>
                                        <%for (var i = 0; i < pass.length; i++) {%>
                                            <%p= p + "*"%>
                                            <%}%>
                                        
                                        <%= p%></td>
                                </tr>
                                <tr>
                                    <td><h6>Email: </h6></td>
                                    <td><%= email%></td>
                                </tr>
                            </table>
                            </div>
                            
                            
                            
                        </div>
                        <br>
                    </div>
                    <hr class="bg-danger border-2 border-top border-danger">
                    <div class="row">
                        <h5><i class="bi bi-envelope-check"></i> <u>Información de avisos</u></h5>
                        <br><br>
                        <div style="margin-left:1.5em">

                            <% let inc = 0, sug = 0, fel = 0%>
                                <%alerts.forEach(a=>{%>
                                    <%if(a.estado == "terminado" || a.estado == "eliminado"){%>
                                        <%if(a.tipo == "Incidencia"){%>
                                            <% inc++ %>
                                                <%}else if(a.tipo == "Sugerencia"){%>
                                                    <% sug++ %>
                                                        <%}else{%>
                                                            <% fel++%>
                                                                <%}}%>
                                                                    <%})%>
                                                                    <div class="table-responsive col-10">
                                                                        <table class="table" >
                                                                            <%if(tecnico == 1){%>
                                                                                <tr>
                                                                                    <td><h6>Avisos gestionados:</h6></td>
                                                                                    <td><%= inc + sug + fel %></td>
                                                                                </tr>
                                                                                <%}else{%>
                                                                                    <tr>
                                                                                        <td><h6>Avisos realizados:</h6></td>
                                                                                        <td><%= inc + sug + fel %></td>
                                                                                    </tr>
                                                                                    <%}%>
                                                                                    <tr>
                                                                                        <td><h6> Incidencias:</h6></td>
                                                                                        <td><%=inc%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><h6> Sugerencias: </h6></td>
                                                                                        <td>  <%=sug%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><h6> Felicitaciones:</h6></td>
                                                                                        <td><%=fel%></td>
                                                                                    </tr>
                                                                                        
                                                                        </table>
                                                                    </div>
                                                                    
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>