<div class="row">
    <nav class=" navbar navbar-dark bg-danger fixed-top">
        <div class="container-fluid">
            <a href=<%=ref %>><img src="img/logoUcm.png" alt="Logo de la UCM" id="logoUcm"></a>
            <span class="navbar-text textoCentrado">
                <h2>UCM - CAU</h2> <h5>Centro de atención al usuario</h5>
            </span>
            <div>
                <img src="/imagenUsuario" id="imgUser" class="img-thumbnail" alt="foto de perfil" data-bs-toggle="modal" data-bs-target="#modalUsuario" />
                <span id="labelident" class="navbar-text" data-bs-toggle="modal" data-bs-target="#modalUsuario"><%= nombre %></span>
                <a href="/logout" class="btn btn-sm btn-outline-light" data-title="desconectar"><i class="bi bi-box-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><%= nombre %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <img src="..." class="rounded float-start" alt="...">
                            </div>
                            <div class="col-4 col-sm-6">
                                <h6>Fecha de creación: </h6>
                                <h6>Perfil: <%= perfilUniv%></h6>
                                <h6>Contraseña: <%= pass%></h6>
                                <h6>Nombre para mostrar: <%= nombre %></h6>
                            </div>
                        </div>
                    </div>


                    <h6>Avisos realizados: </h6>
                    <h6>Incidencia: </h6>
                    <h6>Sugerencias: </h6>
                    <h6>Felicitaciones: </h6>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>